{% extends "base.html" %}
{% block title %}Crear tópico | {% endblock %}
{% block main %}
<div class="container d-flex justify-content-between align-items-center mt-4 px-5">
    <h1 class="text-primary m-0">Crear tópico</h1>
</div>
{% from "macros.jinja" import render_input, render_button_or_hidden %}
<form method="POST" action="/crear-topico"
    class="container d-flex justify-content-between align-items-center rounded mt-4 py-4 px-5 bg-body-secondary">
    <table>
        {{ render_button_or_hidden(form.csrf_token) }}
        {{ render_input(form.title) }}
        {{ render_input(form.text) }}
        {{ render_input(form.tags) }}
        {{ render_button_or_hidden(form.submit) }}
    </table>
</form>
{% endblock %}