{% extends "base.html" %} 
{% block title %}Crear tópico | {% endblock %}
{% block main %}
    <h1>Crear tópico</h1>

    {% from "macros.jinja" import render_input, render_button_or_hidden %}
    <form method="POST" action="/crear-topico">
        <table>
            {{ render_button_or_hidden(form.csrf_token) }}
            {{ render_input(form.title) }}
            {{ render_input(form.text) }}
            {{ render_input(form.tags) }}
            {{ render_button_or_hidden(form.submit) }}
        </table>
    </form>
{% endblock %}