{% extends "base.html" %}
{% block title %}Tópicos | {% endblock %}
{% block main %}
<div class="container d-flex justify-content-between align-items-center mt-4 py-1 px-5">
    <h1 class="text-primary m-0">Tópicos</h1>
    <a href="{{ url_for('main.create_topic') }}" class="text-decoration-none">
        <div class="btn btn-primary btn-lg rounded-pill">
            Crear tópico
        </div>
    </a>
</div>
{% for topic in topics %}
<article class="title container my-4 py-4 px-5 rounded bg-body-secondary">
    <a href="{{ url_for ('main.topic', url=topic.url) }}" class="text-decoration-none">
        <h2 class="title text-primary">{{ topic.title }}</h2>
        {% if topic.text|length > 150 %}
        <p class="text-body">{{ topic.text[:150] }}...</p>
        {% else %}
        <p class="text-body">{{ topic.text }}</p>
        {% endif %}
    </a>
    <div class="d-flex justify-content-between align-items-center">
        <div class="username">
            <a href="{{ url_for('main.user', username=topic.user_name) }}" class="text-decoration-none text-secondary">
                @{{ topic.user_name }}
            </a>
            , {{ topic.date }}
        </div>
        <div class="tags d-inline-flex flex-row gap-2">
            {% for tag_name in topic.tags %}
            <a href="{{ url_for('main.tagged', tag_name=tag_name) }}" class="text-decoration-none">
                <div class="py-2 px-3 text-center rounded-pill bg-body-tertiary">
                    {{ tag_name }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}