{% extends "base.html" %}
{% block title %}Tópicos | {% endblock %}
{% block main %}
    <h1>Tópicos</h1>
    {% for topic in topics %}
        <article class="title">
            <a href="{{ url_for ('main.topic', url=topic[0]) }}">
                <h2 class="title">{{ topic[1] }}</h2>
                {% if topic[2]|length > 100 %}
                    <p class="text">{{ topic[2][:100] }}...</p>
                {% else %}
                    <p class="text">{{ topic[2] }}</p>
                {% endif %}
                <p class="username">@{{ topic[3] }}, {{ topic[4] }}</p>
            </a>
        </article>
    {% endfor %}
{% endblock %}