{% extends "base.html" %}
{% block title %}Tópicos | {% endblock %}
{% block main %}
    <h1>Tópicos</h1>
    {% for topic in topics %}
        <article class="title">
            <a href="{{ url_for ('main.topic', url=topic.url) }}">
                <h2 class="title">{{ topic.name }}</h2>
                {% if topic.text|length > 150 %}
                    <p class="text">{{ topic.text[:150] }}...</p>
                {% else %}
                    <p class="text">{{ topic.text }}</p>
                {% endif %}
            </a>
            <p class="username">
                <a href="{{ url_for('main.user', username=topic.user_name) }}">
                    @{{ topic.user_name }}
                </a>
                , {{ topic.date }}
            </p> 
        </article>
    {% endfor %}
{% endblock %}