{% extends "base.html" %} 
{% block title %}Inicio de sesión | {% endblock %}
{% block main %}
    <h1>Inicio de sesión</h1>

    {% from "macros.jinja" import render_input %}
    <form method="POST" action="/login">
        <table>
            <tr><td>{{ form.csrf_token }}</td></tr>
            {{ render_input(form.name_or_email) }}
            {{ render_input(form.password) }}
            {{ render_input(form.remember, vertical=False) }}
            <tr>
                <td><button type="submit" aria-label="Iniciar sesión">Iniciar sesión</button></td>
            </tr>
        </table>
    </form>
{% endblock %}