{% macro render_input(field, vertical=True, showErrors="true") %}
{% if vertical == True %}
<tr>
    <td>{{ field.label(class="form-label mt-3") }}</td>
</tr>
<tr>
    <td>{{ field(**kwargs)|safe }}
        {% if showErrors=="true" and field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </td>
</tr>
{% else %}
<tr>
    <td>
        {{ field(**kwargs)|safe }}
        {% if showErrors=="true" and field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ field.label }}
    </td>
</tr>
{% endif %}
{% endmacro %}

{% macro render_button_or_hidden(field) %}
<tr>
    <td>
        {{ field }}
    </td>
</tr>
{% endmacro %}