{% macro render_input(field, showErrors="true") %}
<tr>
    <td>{{ field.label }}</td>
</tr>
<tr>
    <td>{{ field(**kwargs)|safe }}
        {% if showErrors=="true" and field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </td>
</tr>
{% endmacro %}

{% macro render_contribution(quantity, what) %}
<div class="contribution">
    <p class="contribution-quantity">{{ quantity }}</p>
    <p class="contribution-what">{{ what }}</p>
</div>
{% endmacro %}