{% extends "base.html"%}
{% block title %} {{ current_user.name }} {% endblock %}
{% block main %}
<div
    class="title container d-flex flex-column gap-5 justify-content-center align-items-center my-4 py-4 px-5 rounded bg-body-secondary">
    <img class="avatar" src="{{ url_for('static', filename='img/' ~ current_user.avatar_id ~ '.svg') }}"
        alt="avatar-{{ current_user.name }}">
    <h1 class="title">{{ current_user.name}}</h1>
    <p class="since">Desde {{ current_user.since_date }}</p>
    <p class="about">{{ current_user.about }}</p>
</div>
{% endblock %}