{% extends "base.html" %} 
{% block title %}Registro | {% endblock %}
{% block main %}
    <h1>Registro</h1>
    <form class="form" method="POST">
        <table>
            <tr>
                <td>{{ form.usuario.label}}</td>
                <td>{{ form.usuario() }}</td>
            </tr>
            <tr>
                <td>{{ form.email.label}}</td>
                <td>{{ form.email() }}</td>
            </tr>
            <tr>
                <td>{{ form.contrasena.label}}</td>
                <td>{{ form.contrasena() }}</td>
            </tr>
            <tr>
                <td>{{ form.confirmar.label}}</td>
                <td>{{ form.confirmar() }}</td>
            </tr>
            <tr>
                <td><button type="submit">Enviar</button></td>
            </tr>
        </table>
    </form>
{% endblock %}