{% extends "base.html" %} 
{% block title %}Registro | {% endblock %}
{% block main %}
    <h1>Registro</h1>

    {% macro render_input(field, showErrors="true") %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field(**kwargs)|safe }}
            {% if showErrors=="true" and field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </td>
        </tr> 
    {% endmacro %}
    <form class="form" method="POST">
        <table>
            {{ render_input(form.usuario) }}
            {{ render_input(form.email) }}
            {{ render_input(form.contrasena) }}
            {{ render_input(form.confirmar) }}
            {{ render_input(form.about) }}
            <tr>
                <td><button type="submit" aria-label="Enviar formulario">Enviar</button></td>
            </tr>
        </table>
    </form>
{% endblock %}