{% extends "base.html" %} 
{% block title %}Registrarse | {% endblock %}
{% block main %}
    <h1>Registrarse</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-message">
            {{ messages[0] }}. Ir a <a href="{{ url_for('auth.login') }}"> Iniciar sesión</a>.
        </div>
    {% endif %}
    {% endwith %}

    {% from "macros.jinja" import render_input %}
    <form method="POST" action="/signup">
        <table>
            <tr><td>{{ form.csrf_token }}</td></tr>
            {{ render_input(form.name) }}
            {{ render_input(form.email) }}
            {{ render_input(form.password) }}
            <tr>
                <td>
                    La contraseña necesita tener al menos 8 caracteres, 1 letra
                    minúscula, 1 letra mayúscula, 1 número y un carácter especial
                </td>
            </tr>
            {{ render_input(form.confirm) }}
            <tr>
                <td>
                    {{ form.avatar_id.label }}
                </td>
            </tr>
            <tr>
                <td>
                    {% for subfield in form.avatar_id %}
                        {{ subfield }}
                        <label for="{{ subfield.id }}">
                            <img src="{{ url_for(
                                        'static',
                                        filename='img/' + subfield.data + '.svg') }}"
                            />
                        </label>
                    {% endfor %}
                </td>
            </tr>
            {{ render_input(form.about) }}
            <tr>
                <td>
                    <input type="submit" aria-label="Registrarse" value="Registrarse">
                </td>
            </tr>  
        </table>
    </form>
{% endblock %}