{% extends "base.html" %}
{% block title %}Tópicos | {% endblock %}
{% block main %}
    <h1>Tópicos sobre {{ tag_name }} </h1>
    <p><a href="{{ url_for('main.create_topic') }}">Crear tópico</a></p>
    {% for topic in topics %}
        <article class="title">
            <a href="{{ url_for ('main.topic', url=topic.url) }}">
                <h2 class="title">{{ topic.title }}</h2>
                {% if topic.text|length > 150 %}
                    <p class="text">{{ topic.text[:150] }}...</p>
                {% else %}
                    <p class="text">{{ topic.text }}</p>
                {% endif %}
            </a>
            <p class="username">
                <a href="{{ url_for('main.user', username=topic.user_name) }}">
                    @{{ topic.user_name }}
                </a>
                , {{ topic.date }}
            </p>
            <p class="tags">
                {% for tag_name in topic.tags %}
                <a href="{{ url_for('main.tagged', tag_name=tag_name) }}">
                    {{ tag_name }}
                </a>
                {% endfor %}
            </p>
        </article>
    {% endfor %}
{% endblock %}