{% extends "base.html" %}
{% block title %}{{ info_topic[0] }} | {% endblock %}
{% block main %}
    <article class="info-topic">
        <h1 class="title">{{ info_topic[0] }}</h1>
        <p class="text">{{ info_topic[1] }}</p>
        <div class="div-user">
            <img  class="avatar" src="" alt="avatar-usuario-{{ info_topic[2] }}">
            {# Username and date #}
            <p class="username">
                <a href="{{ url_for('main.user', username=info_topic[2]) }}">@{{ info_topic[2] }}</a>,
                {{ info_topic[3] }}
            </p>
            <p class="about"><i>{{ info_topic[4] }}</i></p>
        </div>
    </article>
    {% for reply in replies %}
        <article class="reply">
            <p class="text">{{ reply[0]}}</p>
            <div class="div-user">
                <img class="avatar" src="" alt="avatar-usuario-{{ reply[1] }}">
                {# Username and date #}
                <p>
                    <a href="{{ url_for('main.user', username=reply[1]) }}">
                    @{{ reply[1] }}</a>, {{ reply[2] }}
                </p>
                <p class="about"><i>{{ reply[3] }}</i></p>
            </div>
        </article>
    {% endfor %}
{% endblock %}  