{% extends "base.html"%}
{% block title %} {{ info_user[0] }} {% endblock %}
{% block main %}
    <img 
        class="avatar"
        src="{{ url_for('static', filename='img/' + info_user[1] + '.svg') }}"
        alt="avatar-{{ info_user[0] }}"
    >           
    <h1 class="title">{{ info_user[0]}}</h1>
    <p class="since">Desde {{ info_user[2] }}</p>
    <p class="about">{{ info_user[3] }}</p>
    <div class="contributions">
        <div class="contribution">
            <p class="contribution-quantity">{{ info_user[4] }}</p>
            <p class="contribution-what">Tópicos creados</p>
        </div>
        <div class="contribution">
            <p class="contribution-quantity">{{ info_user[5] }}</p>
            <p class="contribution-what">Respuestas escritas</p>
        </div>
    </div>
{% endblock %}