@font-face {
    font-family: "Open Sans Bold";
    src: {{ url_for('static', filename='OpenSans-VariableFont_wdth_wght') }};
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans Regular";
    src: {{ url_for('static', filename='OpenSans-VariableFont_wdth_wght') }};
    font-weight: 400;
}

* {
    font-family: "Open Sans regular", sans-serif;
}

h1, h2 {
    font-family: "Open Sans Bold", sans-serif;
}

a > img {
    width: 2em;
    height: 2em;
}