@font-face {
    font-family: "Open Sans Bold";
    src: "{{ url_for('static', filename='OpenSans-VariableFont_wdth_wght') }}";
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans Regular";
    src: "{{ url_for('static', filename='OpenSans-VariableFont_wdth_wght') }}";
    font-weight: 400;
}

* {
    font-family: "Open Sans regular", sans-serif;
}

h1, h2 {
    font-family: "Open Sans Bold", sans-serif;
}

.adjunto {
    width: 80%;
    height: auto;
}

a > img {
    width: 2em;
    height: 2em;
}

.avatar {
    width: 10em;
    height: auto;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px rgb(135, 0, 153);
}

input[type=radio]:focus + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px rgb(135, 0, 153);
}


input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
}