{% extends "base.html" %}
{% block title %}¿Cuál es la mejor banda y disco del metal?{% endblock %}
{% block main %}
    <section class="topico">
        <h2>¿Cuál es la mejor banda y disco del metal?</h2>
        <p>Empiezo. Megadeth. Fin. Acá paso archivo del mejor disco de la
        historia.
        </p>
        <img class="adjunto" src="{{ url_for('static',
        filename='img/rust-sells-cover.jpg') }}" alt="Rust sells cover">
        <div class="usuario">
            <p class="fecha">10/10/2023 22:43</p>
            <img class="foto" src="">
            <p class="nombre">
                <a class="idUsuario" href="{{ url_for('usuario') }}">
                @david_musteink</a>
            </p>
        </div>
    </section>
    <section class="respuestas">
        <div class="respuesta">
            <p><a class="idUsuario" href="">@david_musteink</a> Metallica >
            Megadeth, <b>facticamente</b>. Pondría el mejor disco de la historia,
            digamos, o sea, <i>"Unjustice Em´ All"</i>, pero no puedo cargarlo
            debido a la grandeza del mismo.
            </p>
            <div class="usuario">
                <p class="fecha">11/10/2023 12:05</p>
                <img class="foto" src="">
                <p class="nombre"><a class="idUsuario" href="">@jaime_jetfild</a></p>
            </div>
        </div>
        <div class="respuesta">
            <p><a class="idUsuario" href="">@david_musteink</a>
            <a class="idUsuario" href="">@jaime_jetfild</a> Slayer > todos. Si
            escuchás los tres primeros álbumes, te darás cuenta de la 
            complejidad de la batería, la armonía entre las guitarras y la
            rebuscada estructura de las canciones, no como <i>Megadave o
            Metallars</i>. Para algo bueno, el mejor albúm de la historia, ahí
            va.
            </p>
            <img class="adjunto" src="{{ url_for('static',
            filename='img/reign-in-blood-cover.jpg') }}"
            alt="Reign in blood cover">
            <div>
                <p class="fecha">13/11/2023 15:30</p>
                <img class="foto" src="" alt="">
                <p class="nombre"><a class="idUsuario" href="">@tomas_araya</a></p>
            </div>
        </div>
        <div class="respuesta">
            <p><a class="idUsuario" href="">@jaime_jetfild</a> coincido en
            Metallica, pero creo que el mejor álbum es el siguiente
            </p>
            <img class="adjunto" src="{{ url_for('static',
            filename='img/master-the-lightning-cover.jpg') }}"
            alt="Master the lightning cover">
            <div class="usuario">
                <p class="fecha">13/11/2023 03:05</p>
                <img class="foto" src="" alt="">
                <p class="nombre"><a class="idUsuario" href="">@roberto_trujillo</a></p>
            </div>
        </div>
        <div class="respuesta">
            <p><a class="idUsuario" href="">@tomas_araya</a> si hablamos de complejidad, rapidez y estructuras
            complejas, nos estamos refiriendo a la siguiente pieza musical:
            </p>
            <img class="adjunto" src="{{ url_for('static',
            filename='img/persistence-of-time-cover.jpg') }}"
            alt="Persistence of time cover">
            <div class="usuario">
                <p class="fecha">15/11/2023 10:43</p>
                <img class="foto" src="" alt="">
                <p class="nombre"><a class="idUsuario" href="">@franko_bello</a></p>
            </div>
        </div>
    </section>
{% endblock %}