{% extends "base.html"%}
{% block title %} {{ info_usuario[0] }} {% endblock %}
{% block main %}
    <h1 class="titulo">{{ info_usuario[0]}}</h1>
    <p class="desde">Desde {{ info_usuario[2] }}</p>
    <p class="about">{{ info_usuario[3] }}</p>
    <div class="aportes">
        <div class="aporte">
            <p class="aporte-cantidad">{{ info_usuario[4] }}</p>
            <p class="aporte-que">Tópicos creados</p>
        </div>
        <div class="aporte">
            <p class="aporte-cantidad">{{ info_usuario[5] }}</p>
            <p class="aporte-que">Respuestas escritas</p>
        </div>
    </div>
{% endblock %}